.login {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .login-content {
    position: absolute;
    z-index: 50;
    min-width: 240px;
    background-color: #212529;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  